header, footer {
	display: none;
}

.conf-2015-hero {
	background: linear-gradient(0deg, #3B3B80, #5E5FBE);
	margin-top: 29px;
}

.conf-2015-hero .erp-hero {
	width: 677px;
	margin-top: -3.2em;
	margin-bottom: -6em;
}

.conf-2015-hero .erpnext-conference {
	margin-top: -36px;
	margin-bottom: 5px;
	font-size: 2.34em;
	text-shadow: 0px 2px 2px rgba(1,2,2,0.1);
}

.conf-2015-hero .hero-date-location {
	font-size: 0.9em;
	letter-spacing: 0.07em;
}

.conf-2015-hero .hero-content h1 {
	font-size: 2.3em;
}

.conf-2015-hero .hero-content p {
	font-weight: 200;
}

.conf-2015-hero .hero-content p.sub-head {
	margin-top: 20px;
	max-width: 800px;
	font-size: 1.35em;
}

.white {
	color: white;
}

.brand-muted {
	color: #b8b9de;
}

.brand-muted a:hover,
.brand-muted a:focus,
.brand-muted a:active {
	color: white !important;
}

.speaking-at-the-conference .large-description {
	max-width: 640px;
	margin-bottom: 60px;
}

.conf-information li {
	margin-bottom: 30px;
}

.who-should-attend .register {
	font-size: 0.9em;
	font-weight: 200;
}

@media(max-width: 767px) {
	.speaking-at-the-conference .col-sm-4 {
		text-align: center;
	}

	.speaking-at-the-conference .col-sm-4:not(:last-child) {
		margin-bottom: 60px;
	}

	.who-should-attend .register {
		font-size: 0.7em;
	}
}
